/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

nav {
    background-color:white;
    color: white;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

h1 em {
    color: #4CAF50; /* Green color for emphasis */
}

img {
    border-radius: 50%;
    margin-top: 20px;
}

.info,
.profil,
.formation {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entry,
.skill {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

hr {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
