body {   
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: beige;
    min-height: 100vh;
    
    display: flex;
}
#left-column {
    background-color: white;
    padding: 20px;
}
#right-column {
    background-color: beige;
    padding: 20px;
}
h2{
    text-align: center;
    
}
h3{
    color: rgb(164, 40, 124);

}
h4{
    color: brown;
    
}
